*{
	margin: 0;
	padding: 0;
}

div.page{
	background-color: #d5d2ae;
	margin: 10px 15%;
	padding: 20px 0;
}

div.content{
	margin: 0 2%;
	padding: 0 0 20px;
}

	div.content > div > img{
		margin: 2px;
		width: 138px;
		height: 138px;
		padding: 15px;
		border: 3px solid black;
	}

		div.content > div > img:nth-child(odd){
			background-color: #82b4ee;
		}

		div.content > div > img:nth-child(even){
			background-color: #f36870;
		}

div.header_images{
	display: inline-flex;
	margin: 10px 25%;
}
	
	div.header_images > img{
		width: 100px;
		height: 70px;
	}

	div.header_images > img:nth-child(3){
		background-color: white;
		/*image is png */
	}

	div.header_images > h1{
		padding: 40px 0 0;
	}

